<!--<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="najtek.database.mapper.user.UserMapper">
	<typeAlias type="najtek.infra.user.User" alias="User"/>
	<typeAlias type="najtek.domain.user.UserRole" alias="UserRole"/>
	
	<select id="selectById" parameterType="User" resultType="User">
		select * from user where id = #{id}
	</select>
	<select id="selectByUsername" parameterType="User" resultType="User">
		select * from user where email_address = #{username}
	</select>
	
	<insert id="insert" parameterType="User"
			useGeneratedKeys=”true” keyProperty=”id”>
		insert into user (email_address, 
							password, 
							first_name, 
							middle_name,
							last_name,
							creation_timestamp,
							organization_id) 
						values (#{emailAddress}, 
							#{firstName},
							#{middleName},
							#{lastName},
							#{creationTimestamp},
							#{organizationId})
	</insert>	
	
	<update id="update" parameterType="User">
		update user set
		email_address = #{username},
		password = #{password},
		first_name = #{firstName},
		middle_name = #{middleName},
		last_name = #{lastName},
		organization_id = #{organization_id}
		where id = #{id}
	</update>
		
</mapper>-->
