<div ui-view>
    <div align="right">
        <button type="button" class="btn btn-primary" ng-click="schoolCtrl.showAdd()">
            Add School
        </button>
    </div>

    <h2 ng-bind="schoolCtrl.organization.name"></h2>

    <nt-panel header="Schools" content-table="true">
        <table class="table">
            <thead>
            <tr>
                <th width="5%">#</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="school in schoolCtrl.organization.schools">
                <td ng-bind="$index + 1"></td>
                <td>
                    <a ui-sref="organizations.schools.schoolSetting({organizationId: school.organizationId, schoolId: school.id})"
                       ng-bind="school.name"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </nt-panel>
</div>