<form class="form-signin" ng-submit="loginCtrl.submit()">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input name="username"
         type="email"
         id="inputEmail"
         class="form-control"
         placeholder="Email address"
         required=""
         autofocus=""
         ng-model="loginCtrl.credentials.username">

  <label for="inputPassword" class="sr-only">Password</label>
  <input name="password"
         type="password"
         id="inputPassword"
         class="form-control"
         placeholder="Password"
         required=""
         ng-model="loginCtrl.credentials.password">

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>