<div class="modal-header">
    <h3 class="modal-title">Add Organization</h3>
</div>
<form ng-submit="addOrgCtrl.submit(addOrgForm)" name="addOrgForm" class="form-horizontal" novalidate>
    <div class="modal-body" id="modal-body">
        <nt-field-label label-for="orgName" field="addOrgForm.name" label="Name">
            <input type="text"
                   name="name"
                   ng-model="addOrgCtrl.organization.name"
                   id="orgName"
                   class="form-control input-sm"
                   required/>
        </nt-field-label>
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" value="Add">
        <button class="btn btn-default" type="button" ng-click="addOrgCtrl.cancel()">Cancel</button>
    </div>
</form>