<div ui-view>
    <div align="right">
        <button type="button" class="btn btn-primary" ng-click="orgCtrl.showAdd()">
            Add Organization
        </button>
    </div>

    <nt-panel header="Organizations" content-table="true">
        <table class="table">
            <thead>
            <tr>
                <th width="5%">#</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="organization in orgCtrl.organizations">
                <td ng-bind="$index + 1"></td>
                <td>
                    <a ui-sref="organizations.schools({organizationId: organization.id})"
                       ng-bind="organization.name"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </nt-panel>
</div>